/*! main.css v1.0.0 | MIT License  */

html {
    height: 100%;
}

body {
    display: table;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background-color: grey;
}

a {
    text-decoration: none;
    color: white;
}

/* Page */
#page {
    display: table-cell;
    padding: 1em 1em 0;
}

#page header, #page section {
    /* max-width: 30em; */
    margin: auto;
    text-align: center;
}

.logo img {
    width: 160px;
    height: 160px;
}

#left, #right {
    display: inline-block;
}

#left {
    vertical-align: top;
    margin-top: 1em;
}

#right {
    border-left: 1px solid #000;
    padding: 1em;
    text-align: left;
    margin-left: 1em;
}

li {
    list-style-type: none;
    margin: 0 0 1em;
}

form.senator-compare {
    margin-bottom: 0;
}

form .form-heading {
    margin-bottom: 0;
}

form p.from-group {
    margin: 0;
}

label, input {
    display: inline-block;
    margin-bottom: 1em;
}

label {
    font-size: 4em;
    vertical-align: middle;
    margin: auto;
}

input {
    padding: .5em 1em;
}

input[type="submit"] {
}

input.wide-field {
    width: 80%;
}

/* Message */
.message {
    max-width: 36em;
    margin: auto;
}
.error {
    background-color: #600;
    color: #fff;
    padding: .5em;
}

.sucess {
    background-color: #060;
    color: #fff;
    padding: .5em;
}

.foot {
    text-align: center;
    color: black;
    font-weight: 700;
}

@media only screen and (max-width: 824px) {
    #right {
        border: none;
    }
}
